# Multi Year score
Given a target year, it computes a score for each image year of adquisition

This score is a constant value for the whole scene (not per-pixel)

In [1]:
import ee
ee.Initialize()

In [2]:
from geetools import ui, tools

In [3]:
from geebap import scores, satcol
from geebap.season import Season

In [4]:
p = ee.Geometry.Point([-71.33972167968751, -42.737619925503054])
aoi = p.buffer(8000).bounds()

In [5]:
col = satcol.Collection.Landsat8USGS()

In [6]:
colEE = col.colEE.filterBounds(aoi).map(col.ndvi)

In [7]:
start = '2015-11-15'
end = '2019-02-15'

In [8]:
colEE = colEE.filterDate(start, end)

In [9]:
year = 2018

In [10]:
years = list(range(2015, 2020))

## Score Linear

In [18]:
season = Season.Growing_South()

In [19]:
score = scores.MultiYear(season=season, main_year=year)

In [20]:
# `map` method cannot be tested because the year_property is added in the BAP process
# newcol = score.map(colEE, years=years)
newcol = score.apply(colEE, target_year=year)

In [21]:
chart = ui.chart.Image.series(newcol, p, scale=30, bands=['year_score'], label_bands=['linear'])

## Score Gauss

In [32]:
newcol_n = score.apply(colEE, target_year=year, function='gauss')

In [28]:
# newcol_n = score.map(colEE, year=year)

In [33]:
chart_n = ui.chart.Image.series(newcol_n, p, scale=30, bands=['year_score'], label_bands=['gauss stretch 1'])

## PLOT

In [34]:
both = chart.cat(chart_n)
both.render_widget(width=800)

HTML(value='<embed src=data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0ndXRmLTg…

In [35]:
both.dataframe

                         gauss stretch 1    linear
2015-11-21 14:30:02.220         0.000000  0.000000
2015-11-21 14:30:26.190         0.000000  0.000000
2015-11-30 14:24:15.630         0.000000  0.000000
2015-12-07 14:30:01.020         0.000000  0.000000
2015-12-07 14:30:24.980         0.000000  0.000000
2015-12-16 14:24:14.720         0.000000  0.000000
2015-12-23 14:30:01.880         0.000000  0.000000
2015-12-23 14:30:25.850         0.000000  0.000000
2016-01-01 14:24:12.810         0.125622  0.333333
2016-01-08 14:29:57.180         0.125622  0.333333
2016-01-08 14:30:21.130         0.125622  0.333333
2016-01-17 14:24:11.770         0.125622  0.333333
2016-01-24 14:29:58.310         0.125622  0.333333
2016-01-24 14:30:22.260         0.125622  0.333333
2016-02-02 14:24:09.290         0.125622  0.333333
2016-02-09 14:29:53.120         0.125622  0.333333
2016-02-09 14:30:17.080         0.125622  0.333333
2016-02-18 14:23:59.920         0.125622  0.333333
2016-03-05 14:23:59.670         0.125622  0.333333
2016-03-12 14:29:44.440         0.125622  0.333333
2016-03-12 14:30:08.410         0.125622  0.333333
2016-03-21 14:23:52.920         0.125622  0.333333
2016-03-28 14:29:34.910         0.125622  0.333333
2016-03-28 14:29:58.870         0.125622  0.333333
2016-04-06 14:23:44.590         0.125622  0.333333
2016-04-13 14:29:29.240         0.125622  0.333333
2016-04-13 14:29:53.200         0.125622  0.333333
2016-04-22 14:23:38.080         0.125622  0.333333
2016-04-29 14:29:28.460         0.125622  0.333333
2016-04-29 14:29:52.420         0.125622  0.333333
...                                  ...       ...
2018-09-03 14:23:40.730         1.000000  1.000000
2018-09-10 14:29:29.720         1.000000  1.000000
2018-09-10 14:29:53.680         1.000000  1.000000
2018-09-19 14:23:44.910         1.000000  1.000000
2018-09-26 14:29:35.390         1.000000  1.000000
2018-09-26 14:29:59.360         1.000000  1.000000
2018-10-05 14:23:53.070         1.000000  1.000000
2018-10-12 14:29:42.910         1.000000  1.000000
2018-10-12 14:30:06.870         1.000000  1.000000
2018-10-21 14:23:59.080         1.000000  1.000000
2018-10-28 14:29:47.690         1.000000  1.000000
2018-10-28 14:30:11.650         1.000000  1.000000
2018-11-06 14:24:02.320         1.000000  1.000000
2018-11-13 14:29:49.660         1.000000  1.000000
2018-11-13 14:30:13.620         1.000000  1.000000
2018-11-22 14:24:02.630         1.000000  1.000000
2018-11-29 14:29:48.650         1.000000  1.000000
2018-12-08 14:23:59.990         1.000000  1.000000
2018-12-15 14:29:45.600         1.000000  1.000000
2018-12-15 14:30:09.560         1.000000  1.000000
2018-12-24 14:23:59.000         1.000000  1.000000
2018-12-31 14:29:45.000         1.000000  1.000000
2018-12-31 14:30:09.000         1.000000  1.000000
2019-01-09 14:23:57.000         0.602111  0.666667
2019-01-16 14:29:43.000         0.602111  0.666667
2019-01-16 14:30:07.000         0.602111  0.666667
2019-01-25 14:23:54.000         0.602111  0.666667
2019-02-01 14:29:39.000         0.602111  0.666667
2019-02-01 14:30:03.000         0.602111  0.666667
2019-02-10 14:23:51.000         0.602111  0.666667

[200 rows x 2 columns]